:root {
  --color-one: #d6ccc2;
  --color-two: #edede9;
  --color-three: #f5ebe0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

body {
  background-color: white;
}


h1 {
  font-size: 50px;
  color: black;
}

h2 {
  font-size: 80px;
  color: black;
}

h3 {
  font-size: 18px;
  line-height: 1.8rem;
  font-weight: 200;
  color: black;
}

.page-containers {
  padding: 56px 0 0 90px;
  width: 100vw;
}

.homepage {
  display: flex;
  padding: 2rem;
  height: 92vh;
}

.homepage-text {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 50%;
  height: 25rem;
  border-radius: 6px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
}

.search-block {
  margin-top: 3.5rem;
}

.find-partner-button {
  font-size: medium;
  width: 10rem; 
  height:3rem;
  cursor: pointer;
  background-color: var(--color-one);
  border-radius: 6px;
  color: black  ;
  transition: 0.3s;
}
.find-partner-button:hover {
  background-color: rgba(0, 255, 0, 0.531);
}

.tennis-players {
  max-width: 100%;
  height: auto;
}

.container-test {
  position: fixed;
  left: 0;
  top: 56px;
  height: 80%;
  z-index: 100;
}

.navbar-vertical > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
  border-bottom: 1.5px solid #aaaaaa;
  border-right: 1.5px solid #aaaaaa;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  transition: 0.3s;
}

.navbar-vertical > div:hover {
  cursor: pointer;
}

.navbar-horizontal {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 56px;
  width: 100%;
  z-index: 100;
  background-color: #181818;
}

.navigation-horizontal {
  display: flex;
  gap: 20px;
  margin: 1rem;
  color: var(--color-two);
  transition: 0.3s;
}

.navigation-horizontal > button {
  transition: 0.3s;
  border: none;
  background-color: #181818;
  color: var(--color-two);
  font-size: 16px;
  cursor: pointer;
}

.start {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.logo {
  height: 68px;
  padding: 8px;
  border-radius: 50%;
}

.vertical-logo {
  height: 30px;
  padding-bottom: 0.2rem;
}

.font {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-two);
}

li {
  list-style: none;
}

.login-container {
  border: 2px solid #aaaaaa;
  border-radius: 6px;
  max-width: 40rem;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  background-color: var(--color-two);

}


.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;
}

.login-form > input {
  margin-bottom: 1rem;
  height: 2rem;
}

.login {
  padding: 0.5rem 1.5rem;
  background-color: var(--color-one);
  max-width: 11rem;
  border-radius: 8px;
  color: black;
  transition: 0.3s;
  border: 1px solid black;
}
.login:hover {
  cursor: pointer;
}

.no-account {
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  background-color:var(--color-one);
  color: black;
  opacity: 0.8;
  transition: 0.3s;
}

.no-account:hover {
  cursor: pointer;
  opacity: 1;
}

.end-of-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.profile-container {
  display: flex;
  gap: 4rem;
  max-width: 70rem;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  border: 2px solid #d6ccc2;
  border-radius: 6px;
}

.profile-info-container {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  gap: 0.8rem;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 20rem;
  color: black;
}

.profile-info > input {
  height: 1.5rem;
  padding-left: 5px;
  min-width: 15rem;
}

.profile-container-one {
  display: flex;
  max-width: 70rem;
  margin: auto;
  margin-top: 3rem ;
  padding: 2rem;
  border: 2px solid #d6ccc2;
  min-height: 25rem;
  border-radius: 6px;
  align-items: center;
}

.profile-image{
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-radius: 50%;
}

.profile-image-main {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-image-delete {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.select-locations {
  background-color: var(--color-one);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 18rem;
  width: 100%;
  gap: 1rem;
  border: 1px solid black;
  border-radius: 6px;
}

.chosen-locations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  max-height: 8rem;
  overflow-y: scroll;
  width: 16rem;
  border: 1px solid white;
}



.add-new-court-button {
  max-width: 8rem;
  min-height: 2rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: var(--color-one) ;
  color: black;
  cursor: pointer;
}

.profiles-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 2px solid #d6ccc2;
  border-radius: 6px;
  padding: 1.5rem 0;
  min-height: 50rem;
}

.popup-box-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 100%;
  z-index: 100;
}

.popup-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  max-height: 40rem;
  background-color: #eeedf3;
  margin: 50px auto;
  padding: 20px;
  gap: 2rem;
}

.addCourt-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  max-width: 40rem;
  max-height: 20rem;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
}

.deleteCourt-container {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  max-width: 80rem;
  max-height: 20rem;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
}

.delete-court-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 28rem;
  background-color: var(--color-one);
  border: 1px solid black;
  border-radius: 6px;
  padding: 1rem;
}
.delete-user-list {
  display: flex;
  justify-content: space-between;
  max-width: 50rem;
  min-width: 30rem;
  align-items: center;
  background-color: var(--color-one);
  border: 1px solid black;
  border-radius: 6px;
  padding: 1rem;
}

.delete-user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.delete-user-button-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
}

.delete-button {
  min-width: 8rem;
  border: 1px solid black;
  border-radius: 6px;
  background-color: red;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
}

.not {
  background-color: green;
}

.delete {
  padding: 0.5rem 1.5rem;
  background-color:rgb(228, 15, 15);
  max-width: 10rem;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 6px;
}

.all-courts-update {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 35rem;
  overflow-y: scroll;
}

.btn-container{
  display: flex;
  gap: 4rem;
}

.btn-close {
  cursor: pointer;
  width: 5rem;
  height: 2.5rem;
  border: 1px solid #999;
  background-color: green;
  color: black;
}

.page-containers1 {
  display: flex;
  padding: 56px 0 0 104px;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 1rem 3rem;
  max-width: 100%;
  height: 6rem;
  border-radius: 6px;
}
.profile-card div:nth-child(1) {
  display: flex;
  align-items: center;
  max-width: 20rem;
  width: 100%;
  gap: 2rem;
}
.profile-card div:nth-child(2) {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 2rem;
}
.line {
  opacity: 50%;
}


.send-message{
  border-radius: 6px;
  height: 2rem;
  width: 8rem;
  background-color: #d6ccc2;
  transition: 0.3s;
}
.send-message:hover {
  cursor: pointer;
  background-color: #f5ebe0;
}


.select-courts-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 65rem;
  width: 100%;
  margin: auto;
  gap: 1rem;
  background-color: var(--color-two);
  border: 1px solid black ;
}

.all-courts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 35rem;
}

.court-name {
  display: flex;
  gap: 0.5rem;
  color: black;
}

.court-name-checkbox {
  width: 18px;
  height: 18px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 90px;
  margin-top: 2rem;
  min-width: 18rem;
  max-height: 38rem;
  border: 2px solid #d6ccc2;
  border-radius: 6px;
  padding: 3rem 1rem;
  gap: 1rem;
  background-color: var(--color-three);
}

.filter-container span {
  font-size: 24px;
  text-decoration: underline;
  text-underline-offset: 5px;
}


.level-filters {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
}

.different-filters {
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: scroll;
  margin-top: 1rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchPlayer-container{
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  max-width: 1350px;
  width: 100%;
}

.searchcourts-container {
  max-width: 70rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.searchbar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchbar > input {
  height: 1.8rem;
  max-width: 20rem;
  
}

.courts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.court-card {
  display: flex;
  max-width: 50rem;
  border-radius: 6px;
  background-color: var(--color-three);
  border: 2px solid #d6ccc2;
}

.court-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
  width: 50%;
}

.court-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.court-info-picture {
  height: 25px;
}

.court-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.page-btn-container {
  display: flex;
  max-width: auto;
}

.blank {
  opacity: 0;
  pointer-events: none;
}

.pageBtn {
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 5rem;
  background-color: var(--color-two);
}

.pageBtn:hover {
  opacity: 80%;
}

.pageBtn-active {
  background-color: #d6ccc2;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  max-width: 5rem;
}

.messages-container {
  width: 85vw;
  margin: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 25% 75%;
  border: 2px solid grey;
  border-radius: 6px;
  margin-top: 2rem;
}

.noChat-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white ;
}

.messageUsers-container {
  display: grid;
  grid-template-rows: 10% 75% ;
  border-right: 2px solid grey;
  /* background-color: var(--color-three); */
  height: 86vh;
}

.contacts-header {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 5px;
  font-weight: 700;
  font-size: 32px;
  color: black;
  border-bottom: 2px solid grey;
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  max-height: 200rem;
  overflow-y: scroll;
  align-items: center;
  max-width: 100%;
  /* background-color: var(--color-three); */
}

.contact {
  background-color:white;
  min-height: 5rem;
  cursor: pointer;
  width: 90%;
  padding: 0.4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s;
}
.selected {
  background-color: var(--color-one);
  border-radius: 6px;
}
.messanger-profile-pictures {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chat-container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  gap: 0.1rem;
  /* overflow: hidden;
  max-height: 86vh; */
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1.5rem;
  height: 100%;
  background-color: var(--color-one);
  border-bottom: 2px solid grey;
}

.chat-header-label {
  font-size: 28px;
  font-weight: 600;
}

.input-container {
  width: 100%;
  height: 75%;
  border-radius: 2rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 2px solid var(--color-two);
}

.chat-message-input {
  width: 90%;
  background-color: transparent;
  color: black;
  border: none;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.chat-message-submit {
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--color-one);
}

.chat-messages {
  margin-top: 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 40rem;
  overflow-y: auto;
}

.message > .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 40%;
  overflow-wrap: break-word;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  color: #695b5b;
}

.content-date {
  font-size: 12px;
}

.message.sent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.message.sent > .content {
  background-color: var(--color-one);
}

.message.received {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message.received > .content {
  background-color: var(--color-three);
}

.navbar-toggle {
  display: none;
}

.combine-nav {
  display: none;
}




@media screen and (min-width: 768px) and (max-width: 1283px) {
  .homepage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .homepage-text{
    width: 80%;
  }

  .tennis-players {
    max-width: 80%;
    height: auto;
  }

  .all-courts {
    max-height: 50rem;
  }
  
  .select-courts-container {
    max-width: 55rem;
    width: 100%;
  }

  .profile-container {
    flex-direction: column;
    margin: 1rem 3rem;
  }

  .profile-container-one {
    flex-direction: column;
    margin: 3rem 3rem;
    gap: 3rem;
  }


  .page-containers1 {
    flex-direction: column;
    padding: 0;
    padding-top: 56px ;
    margin-left: 100px;
  }

  .filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: unset;
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    gap: 3rem;
    background-color: #edede9;
  }

  .profile-image {
    width: 70px;
    height: 70px;
  }
  .profile-card {
    gap: 2rem;
  }

  .contacts-header {
    font-size: 22px;
  }

}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .navbar-vertical {
    display: none;
  }
  
  .navbar-toggle {
    display: flex;
    color: black;
    padding: 0 2rem;
    cursor: pointer;
  }

  .combine-nav {
    display: flex;
    flex-direction: column;
  }

  .navbar-horizontal{
    padding: 0;
    width: 100vw;
  }

  .navigation-horizontal {
    display: none;
  }

  .navigation-horizontal.open{
    display: contents;
    position: absolute;
    top: 3.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background-color: black;
    margin: 0;
  }

  .navigation-horizontal.open > button {
    font-size: 30px;
    background-color: black;
  }

  .page-containers {
    padding: 0;
    padding-top: 56px ;
  }
  .page-containers1 {
    flex-direction: column;
    padding: 0;
    padding-top: 56px ;
  }

  .filter-container{
    display: flex;
    flex-direction: column;
    position: unset;
    gap: 2rem;
    padding: 2rem 2rem;
    margin: 1rem 1rem;
  }
  
  .different-filters {
    max-height: 10rem;
  }

  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
  }

  .homepage-text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
    
  h1 {
    font-size: 30px;
    color: black;
  }

  h2 {
    font-size: 45px;
    color: black;
  }
  
  h3 {
    font-size: 16px;
    line-height: 1.8rem;
    font-weight: 200;
    color: black;
  }

  .search-block{
    display: flex;
    justify-content: center;
  }

  .court-card {
    max-width: 40rem;
  }

  .court-image{
    padding-top: 75%;
  }

  .tennis-players {
    max-width: 100%;
    height: auto;
  }

  .font {
    font-size: 1.5rem;
  }

  .message-font{
    font-size: 1.2rem;
  }

  .page-btn-container {
    flex-wrap: wrap;
    row-gap: 0.2rem;
  }

  .pageBtn {
    font-size: 16px;
    padding: 7px 14px;
  }

  .pageBtn-active {
    font-size: 16px;
    padding: 7px 14px;
  }

  .all-courts {
    max-height: 80rem;
  }

  .popup-box{
    margin: 50px 50px;
  }


  .profile-container {
    flex-direction: column;
    margin: 1rem 1rem;
    max-width: 34rem;
    padding: 1rem;
  }

  .profile-container-one {
    flex-direction: column;
    margin: 1rem 1rem;
    gap: 3rem;
    max-width: 34rem;
  }

  .headline {
    font-size: 30px;
    max-width: 20rem;
  }
  .all-courts-update {
    max-height: 30rem;
  }

  .searchPlayer-container{
    padding: 1rem;
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    height: 8rem;
    padding: 1rem 1rem;
    max-width: 100%;
  }
  .profile-card div:nth-child(1) {
    gap: 1rem;
  }
  .profile-image {
    width: 50px;
    height: 50px;
  }
  .profile-info-container {
    min-width: 20rem;
  }

  .popup-box-container {
    margin: 0;
  }

  .court-name-checkbox {
    width: 20px;
  }
  
  .deleteCourt-container {
    max-width: 21rem;
    width: 100%;
  }

  .delete-court-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    min-width: 0;
  }

  .delete-user-list {
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    padding: 0.5rem;
    gap: 1rem;
  }

  .profile-image-delete {
    width: 50px;
    height: 50px;
  }

  .contacts-header {
    padding: 1.5rem;
  }
  
  .messages-container {
    grid-template-columns: none;
    grid-template-rows: 30% 70%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    gap: 1.5rem;
    height: 46rem;
  }

  .messageUsers-container {
    padding: 0.5rem ;
    border-right: none;
    gap: 1rem;
    height: unset;
  }

  .chat-message-submit > img {
    width: 1rem;
  }

  .chat-header {
    height: 4.5rem;
  }

  .delete-user-button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: unset;
  }

  .all-courts {
    flex-wrap: nowrap;
    max-height: 40rem;
    overflow: scroll;
    width: 20rem;
  }

  .contacts-header {
    border-bottom: none;
  }

  .searchcourts-container {
    padding: 1rem;
  }

} 

